/* Add CSS Styling */
.first-element,
.second-element {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", serif;
}

.first-element {
    background-color: orange;
    color: white;
}
.second-element {
    background-color: yellow;
}